.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}

// 스타일 추가

.test {
  background-color: red;
  color: white;
}

.hidden {
  display: none !important;
}

.popup-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 100;
}

.popup {
  border-radius: 10px;
  width: 85%;
  background-color: white;
  z-index: 1000;
}
