.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}

// 스타일 추가

.test {
  background-color: red;
  color: white;
}

.table {
  width: 100%;
}

.tr {
  width: 100%;
}

.td {
  display: inline-block;
  padding: 0 5px;
}
